body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #f4f4f4; 
    color: #333;
    display: flex;
    justify-content: space-around;
}

h1 {
    padding-top: 60px;
    font-size: 42px;
    color: #333;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
h2 {
    margin: 0; 
    position: absolute; 
    bottom: 15px; 
    text-align: center;
    font-size: 25px;
    width: 100%; 
}


.JoiaImg{
    padding-top: 25px;
    width: 100%;
    max-width: 300px;
    height: auto; 
    border-radius: 20px;
    object-fit: cover; 
    display: block;
    margin: 0 auto;
    
}
.container {
    padding-top: 50px;
    display: flex;
    gap: 100px; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box-colection {
    width: 400px;
    height: 400px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    position: relative;
    
}
.box-colection:hover {
    transform: scale(1.10); /* Aumenta ligeiramente ao passar o mouse */
  }
