/* Reset e Configurações Gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

h1 {
  font-size: 42px;
  margin-bottom: 20px;
}


/* Header */
.header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo a {
  font-size: 32px;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
  color: #666;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #b8860b;
}


.menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 200px;
  }

  .nav a {
    margin: 10px 0;
    color: #333;
    font-size: 18px;
  }

  .menu {
    display: block;
    color: #333;
  }

  .nav.show {
    display: flex;
  }
}


/* Banner */
.banner {
  background: url('../assets/img/poze.jpg') no-repeat center center/cover;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.banner .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px 20px;
  border-radius: 10px;
}

.banner h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 15px 40px;
  background-color: #b8860b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #a07309;
}

/* Destaques */
.destaques {
  padding: 80px 20px;
  text-align: center;
}

.destaques h2 {
  font-size: 42px;
  margin-bottom: 40px;
}

.grid {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.item img {
  width: 30%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.item p {
  font-size: 16px;
  color: #555;
}

/* Coleções */
.colecoes {
  background-color: #f4f4f4;
  padding: 80px 20px;
  text-align: center;
}

.container-colecoes {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.box-colection {
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.box-colection:hover {
  transform: translateY(-10px);
}

.JoiaImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  min-width: 200px;  
  max-height: 250px; 
}

@media (max-width: 768px) {
  .container-colecoes {
    grid-template-columns: repeat(2, 1fr); 
  }

  .box-colection {
    width: 90%;  
  }

  .JoiaImg {
    height: 200px;  
    min-width: 150px; 
  }

  h2 {
    font-size: 20px;
  }

  .destaques h2 {
    font-size: 30px;
  }

  .item {
    width: 85%;
  }
}

@media (max-width: 480px) {
  .container-colecoes {
    grid-template-columns: 1fr; 
  }

  .box-colection {
    width: 100%; 
  }

  .JoiaImg {
    height: 180px;  
    min-width: 120px;  
  }

  h2 {
    font-size: 18px;
  }
}


/* Sobre */
.sobre {
  padding: 80px 20px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  justify-items: center;
}


.sobre p {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.sobre div {
  margin-bottom: 40px;
}

/* Contato */
.contato {
  background-color: #fff;
  padding: 100px 20px;
  text-align: center;
}

.contato-form {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-group label {
  margin-bottom: 10px;
  font-weight: 500;
}

.form-group input, .form-group textarea {
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn-enviar {
  padding: 15px 40px;
  background-color: #b8860b;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-enviar:hover {
  background-color: #a07309;
}
/* Depoimentos */

.depoimentos {
  padding: 40px 20px;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
}

.container-depoimentos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.depoimento {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.depoimento-usuario {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.icon-usuario {
  font-size: 40px;
  color: #aaa;
}
/* Blog  */

.blog {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.blog h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.blog p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 30px;
}

.container-blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.post {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.post-image {
  width: 100%;
  border-radius: 8px 8px 0 0;
  margin-bottom: 15px;
  object-fit: cover;
}

.post h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.post p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
}

.btn-leia-mais {
  display: inline-block;
  padding: 10px 20px;
  background-color: #b8860b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-leia-mais:hover {
  background-color: #a07309;
  transform: scale(1.05);
}

/* Footer */
.footer {
  align-content: center;
  justify-items: center;
  background-color: #333;
  color: white;
  height: 5rem;
}


@media (max-width: 768px) {
  .container {
      flex-direction: column;
      text-align: center;
  }

  .nav {
      margin-top: 20px;
  }

  .nav a {
      display: block;
      margin: 10px 0;
      font-size: 15px;
  }
  .banner h1 {
      font-size: 36px;
  }

  .banner p {
      font-size: 18px;
  }
  
  .box-colection {
      width: 85%; 
  }

  .JoiaImg {
      height: auto; 
  }
  .box-colection h2{
    font-size: 20px;
  }
  h1{
    font-size: 30px;
  }
  .container-destaques h2{
    font-size: 30px;
  }
  .destaques h3{
    font-size: 20px;
  }
  .item{
    width: 85%;
  }
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.modal img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.modal h2 {
  margin: 10px 0;
  font-size: 1.5rem;
}

.modal p {
  margin: 10px 0;
  font-size: 1rem;
  color: #555;
}

.modal .price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #d43f57;
  margin: 10px 0;
}

.modal .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #d43f57;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .close-btn:hover {
  background: #a03042;
}

.grid .item {
  cursor: pointer;
  transition: transform 0.3s;
}

.grid .item:hover {
  transform: scale(1.05);
}